<%- include('./partials/header.ejs') %>

<form>
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="description">Description</label>
    <input type="text" name="description" required>
    <div class="description error"></div>
    <label for="price">Price</label>
    <input type="number" name="price" step="0.01" required>
    <label for="count">Pieces avaliable</label>
    <input type="number" name="count" placeholder="number of pieces.." required>
    <label for="category">Category</label>
    <select name="category">
        <option value="drink">Drink</option>
        <option value="electronics">Electronics</option>
        <option value="cosmetics">Cosmetics</option>
        <option value="food">Food</option>
        <option value="media">Media</option>
    </select>
    <button>Add</button>
</form>



<script>
    const form = document.querySelector('form');
    const descriptionError = document.querySelector('.description.error');
    const User = <%-JSON.stringify(user)%>;

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        descriptionError.textContent = '';
        const myform = new FormData(event.target);
        const values = Object.fromEntries(myform.entries());
        values.store = User._id;

        try {
            const res = await fetch('/items/add', {
                method: 'POST',
                body: JSON.stringify(values),
                headers: {'content-type': 'application/json'}
            });
            const data = await res.json();
            console.log(data);
            if(data.error){
                descriptionError.textContent = data.error.description;
            }
            else{
                location.assign('/');
            }
        }
        catch(err) {
            console.log(err);
        }
    });
</script>



<%- include('./partials/footer.ejs') %>